.navi {
  width: 200px;
  height:100vh;
  float:left;
  padding:30px 40px;
  font-size:18px;
  box-sizing: border-box;
  line-height:50px;
  border-right:1px solid #aaa;
  margin-right:30px;
}
a{
  color:#55f;
}